.subMenu {
  position: absolute;
  width: 350px;
  left: 160px;
  top: -10px;
  height: calc(100vh - 42px - 48px);
  background: transparent;
  border-radius: 10px;
  transform-origin: 0px 0px;
  padding-left: 2em;
}
.item {
  margin-bottom: 0.7em;
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.1);
  }
}
