.navname {
  position: relative;
  margin: 8px 0;
  list-style: none;

  .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
  }

  &:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
  }

  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 0.4em;
    transition: all 0.4s ease;
    background: #11101d;

    &:hover {
      background: #fff;
    }
    .linkname {
      display: none;
    }
  }

  &.open {
    .tooltip {
      display: none;
    }
    .link {
      display: flex;
      height: 100%;
      width: 100%;
      border-radius: 12px;
      justify-content: center;
      text-decoration: none;
      transition: all 0.4s ease;
      background: #11101d;
      justify-content: flex-start;

      &:hover {
        background: #fff;
      }

      .linkname {
        display: block;
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        white-space: nowrap;
        pointer-events: none;
        transition: 0.4s;
        opacity: 1;
        margin-left: 0.5em;
        pointer-events: auto;
      }
      .linkItem {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }
  }
  .link:hover {
    .linkname,
    .icon {
      transition: all 0.5s ease;
      color: #11101d;
    }
  }
  .icon {
    color: #fff;
    height: 40px;
    text-align: center;
  }
}
