.button {
  text-decoration: none;
  cursor: pointer;
}

// ナビバー
.navActive {
  font-size: 1.3em;
  color: #fff;
  display: block;
  padding: 2rem 0;
}
.navInActive {
  font-size: 1.3em;
  color: #020202;
}
