$white: #ffffff;
$baige: #ead4a3;

.createPage {
  display: flex;
  background-color: #f3f4ed;
  height: 100vh;
}
.flexitem {
  width: 100%;
  background-color: #f3f4ed;
}
.boxholder {
  padding: 118px 210px 70px 210px;
  .box {
    width: 50em;
    min-height: 20em;
    margin: 0 auto;
    background: #eee;
    border-radius: 10px; /*角の丸み*/
    .title {
      font-size: 23.625px;
      line-height: 29.25px;
      font-weight: 700;
      color: #e1e8eb;
      letter-spacing: -0.4px;
      text-align: center;
      justify-content: center;
    }
  }
}
.item {
  width: 80%;
  background-color: $white;
  display: flex;
  &:hover {
    border: 3px solid $baige;
  }
  .itemArea {
    width: 100%;
  }
}
.title1 {
  padding: 4em;
  background-color: $white;
}
