.sidebar {
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101d;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;

  &.open {
    width: 250px;
  }
  .logo {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;

    .logoName {
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      opacity: 0;
      transition: all 0.5s ease;
    }
  }
  &.open .logo {
    .icon,
    .logoName {
      opacity: 1;
    }
  }
  .logo .btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .icon {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
  }
  .navlist {
    margin-top: 20px;
    height: 100%;
  }
}
