.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #1b1b1b;
  padding: 0 2.5rem 0 5rem;
  height: 6rem;
}
.logo {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
}

.icon {
  color: #f2f2f2;
}
