.page {
  overflow: hidden;
  background-color: #fff;
}
.parent {
}
.header {
  height: 4rem;
  background-color: #fff;
}
.children {
  height: 100vh;
  background-color: #f1f5f8;
  -webkit-box-flex: 1;
  flex-grow: 1;
  overflow: auto;
  min-height: 100%;
  padding-top: 10rem;
  padding-bottom: 80px;
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.load {
  padding-bottom: 10rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
